
/* Login/Register page styles */


h1{
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
}

.login-register-container {
	text-align: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/cyclone-background5.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

span > a {
  color: #1DA1F2;
  text-decoration: none;
}

.title-form-container{
  background-color: rgba(0, 0, 0, .5);
  height: 500px;
  width: 500px;
  
}


.login-register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.login-register-form > input{
  height: 25px;
  width: 250px;
  font-size: 15px;
  margin-bottom: 15px;
}

.login-register-form > label{
  display:none;
}

button{
  cursor: pointer;
  background-color: rgba(50, 205, 50, 1);
  border: none;
  width: 225px;
  height: 35px;
  border-radius: 50px;
  color: rgba(255, 255, 255, .9);
  font-size: 18px;
  font-weight: bold;
}

button:hover{
  background-color: rgba(50, 205, 50, .9);
}

.logo{
  position: absolute;
  top: 5%;
  left: 5%;
  height: 75px;
  width: 75px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 75px;
  padding: 10px;
  color: white;
}

span{
  font-size: 18px;
  color: rgba(255, 255, 255, .9)
}


/*Home Page/Profile Page Styles*/

.home-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;
  height: 300vh;
}


.root-navbar-container{
  height: 100vh;
  width: 251px;
  display: flex;
  justify-content: flex-end;

}

.navbar-container{
  margin-right: 15px;
  position: fixed;
}

.navbar-link{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 100px;
  width: 132px;
  height: 52px;
  
}

.navbar-link > a{
  text-decoration: none;
  color: white
}


.navbar-link:hover{
  background-color: rgba(255, 255, 255, .1);
}

.navbar-icon{
  width: 35px;
  height: 35px; 
  fill: white;
  margin-right: 10px;
}


.tweetfeed-root-container{
  width: 598px;
  flex-shrink: 0;
  flex-grow: 0;
}

.latest-tweets-sticky{
  position: fixed;
  
}

.followbar-container{
  width: 350px;
  height: 246px;
  border: 1px solid white;
  position: fixed;

}






